@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .chat_widget {
    @apply fixed bottom-4 right-4 z-[999];

    code {
      @apply bg-gray-300 rounded-sm px-1;
    }

    .msg_box {
      @apply px-4 py-2 min-h-72 max-h-96 overflow-y-scroll flex flex-col overflow-x-hidden mx-1;

      a {
        @apply font-semibold text-violet-600 underline hover:text-violet-500 transition-all duration-150;
      }

      &::-webkit-scrollbar {
        @apply w-[6px];
      }

      &::-webkit-scrollbar-track {
        @apply bg-white bg-opacity-25 my-1 rounded-lg;
      }

      &::-webkit-scrollbar-thumb {
        @apply bg-violet-800 bg-opacity-60 rounded-lg;
      }

      ul,
      ol {
        @apply pl-4;
      }

      ul {
        @apply list-disc;
      }

      ol {
        @apply list-decimal;
      }
    }

    button.btn__send {
      @apply bg-violet-700 hover:bg-violet-900 text-white py-2 px-4 rounded 
      transition-colors duration-300 shadow-violet-700 shadow-sm;
    }
  }
}
